@import 'typeface-montserrat';
@import 'nsw-design-system/src/main';

body {
	font-family: 'Montserrat', sans-serif;
}

.icon {
  max-width: 5rem;
  max-height: 5rem;
}

.large-icon {
  max-width: 30rem;
}

.nsw-button {
  margin-right: 0;
}
